@charset "utf-8";
@use '_breakpoints.scss' as *;

/* -----------------------------------
  global
----------------------------------- */

/* global > color
----------------------------------- */
:root {
  --color-main: #4b4b4b;
  --color-base: #f5f3eb;
  --color-accent: #d9d6b9;
  --color-green: #004225;
  --color-white: #fff;
  --color-yellow: #e3bf0e;
}

/* global > content-width
----------------------------------- */
:root {
  --width-content: 1000px;
  --width-content-s: 760px;
}

/* global > content-width
----------------------------------- */
:root {
  --vw-sp: / 375 * 100vw;
  --vw-pc: / 1280 * 100vw;
}

/* global > font
----------------------------------- */
:root {
  --font-family-base: "Noto Serif JP", serif;
  --font-family-handwritten: "Klee One", cursive;
}


/* -----------------------------------
  foundation
----------------------------------- */

/* foundation > base
----------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-base);
  color: var(--color-main);
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.44;
}

body.isScrollAllowed {
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

dd ul {
  padding-left: 8px;
  list-style: disc inside;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}


/* -----------------------------------
  utility
----------------------------------- */

/* -----------------------------------
  utility
----------------------------------- */
/* screen reader only */
.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* uppercase */
.u-uppercase {
  text-transform: uppercase;
}

.u-disabled-link {
  pointer-events: none;
  text-decoration: none;
  opacity: 0.3;
  cursor: default;
}

/* break */
.u-break {
  display: inline-block;
}

/* no-sp */
.u-no-sp {
  display: none;
}

@include mq() {
  .u-no-sp {
    display: block;
  }
}

/* no-pc */
@include mq() {
  .u-no-pc {
    display: none;
  }
}


/* -----------------------------------
  layout
----------------------------------- */

/* layout > container
----------------------------------- */
.l-container {
  width: calc(300 var(--vw-sp));
  margin: auto;
}

@include mq() {
  .l-container {
    width: 100%;
    max-width: calc(var(--width-content) + 80px * 2);
    padding: 0 80px;
  }
}

/* layout > section
----------------------------------- */
.l-section {
  padding-top: 160px;
}

.l-section--top-about {
  padding-top: 100px;
}

@include mq() {
  .l-section {
    padding-top: 240px;
  }
}

/* layout > section-body
----------------------------------- */
.l-section-body {
  margin-top: 80px;
}

@include mq() {
  .l-section-body {
    margin-top: 80px;
  }
}
