---
import Layout from '../layouts/Layout.astro';
import TitleLevel1 from '../components/TitleLevel1.astro';
import PageTitleLevel2 from '../components/PageTitleLevel2.astro';
---

<!-- about -->
<Layout
  subTitle="すずしかについて"
  ogType="article"
  description="埼玉県所沢市のホームページ制作者 鈴木孝浩（すずしか）のプロフィールです。ホームページ・ランディングページの企画・制作から管理・運用まで、ワンストップで事業を加速します。"
>
  <main class="about-main">
    <div class="about-heading">
      <TitleLevel1 titleJapanese="すずしかについて" titleEnglish="About" />
    </div>

    <!-- about-head -->
    <div class="about-head">
      <div class="l-container">
        <div class="about-head__content">
          <dl class="about-head__def">
            <dt>鈴木 孝浩（すずしか）</dt>
            <dd>Bell Dear Web Production 代表</dd>
            <dd>Webサイト制作チーム <br class="u-no-pc">「Design Station "soutai"（颯苔）」代表</dd>
            <dd>Webディレクター／コーダー</dd>
          </dl>
          <div class="about-head__image">
            <img src="/assets/images/about/image-about-illust@2x.webp" alt="鈴木孝浩のイラスト" loading="eager" decoding="async" width="160" height="169">
          </div><!-- /.about-head__image -->
        </div><!-- /.about-head__content -->
      </div><!-- /.l-container -->
    </div><!-- /.about-head -->

    <!-- about-promise -->
    <section class="about-promise">
      <div class="l-container">
        <PageTitleLevel2 pageTitle="お約束できること" />
        <div class="about-section-body l-section-body">
          <p class="about-promise__lead about-promise__lead--sp">当たり前のことを当たり前に<br>無骨なまでに貫く。</p>
          <p class="about-promise__lead about-promise__lead--pc">「当たり前のことを当たり前に、<span>無骨なまでに貫く。」</span></p>
          <ul class="about-promise__list">
            <li class="about-promise__item">
              <div class="about-promise__icon">
                <img src="/assets/images/about/icon-about-laptop@2x.webp" alt="ノートPCのアイコン" loading="lazy" decoding="async" width="80" height="80">
              </div><!-- /.about-promise__icon -->
              <div class="about-promise__description">
                <h3 class="about-promise__title">︎デザインを忠実に再現</h3>
                <p class="about-promise__text">クライアント・デザイナーの意図を細やかに汲み取り具現化</p>
              </div><!-- /.about-promise__description -->
            </li>
            <li class="about-promise__item">
              <div class="about-promise__icon">
                <img src="/assets/images/about/icon-about-html@2x.webp" alt="HTMLファイルのアイコン" loading="lazy" decoding="async" width="80" height="80">
              </div><!-- /.about-promise__icon -->
              <div class="about-promise__description">
                <h3 class="about-promise__title">セマンティックなHTML</h3>
                <p class="about-promise__text">文章構造の意味を正しくコンピュータに伝えるマークアップ</p>
              </div><!-- /.about-promise__description -->
            </li>
            <li class="about-promise__item">
              <div class="about-promise__icon">
                <img src="/assets/images/about/icon-about-smile@2x.webp" alt="スマイルのアイコン" loading="lazy" decoding="async" width="80" height="80">
              </div><!-- /.about-promise__icon -->
              <div class="about-promise__description">
                <h3 class="about-promise__title">︎ユーザビリティの追求</h3>
                <p class="about-promise__text">画面の向こう側にいる方に想いを馳せたコーディングを徹底</p>
              </div><!-- /.about-promise__description -->
            </li>
            <li class="about-promise__item">
              <div class="about-promise__icon">
                <img src="/assets/images/about/icon-about-universal-access@2x.webp" alt="ユニバーサルアクセスのアイコン" loading="lazy" decoding="async" width="80" height="80">
              </div><!-- /.about-promise__icon -->
              <div class="about-promise__description">
                <h3 class="about-promise__title">︎アクセシビリティの追求</h3>
                <p class="about-promise__text">誰一人取り残されることなく、情報にアクセスしやすいサイト設計</p>
              </div><!-- /.about-promise__description -->
            </li>
            <li class="about-promise__item">
              <div class="about-promise__icon">
                <img src="/assets/images/about/icon-about-thumb-up@2x.webp" alt="サムアップのアイコン" loading="lazy" decoding="async" width="80" height="80">
              </div><!-- /.about-promise__icon -->
              <div class="about-promise__description">
                <h3 class="about-promise__title">︎丁寧なコミュニケーション</h3>
                <p class="about-promise__text">即レス・密な報連相で常に安心感のあるプロジェクト進行</p>
              </div><!-- /.about-promise__description -->
            </li>
          </ul>
        </div><!-- /.about-section-body.l-section-body -->
      </div><!-- /.l-container -->
    </section><!-- /.about-promise -->

    <!-- about-career -->
    <section class="about-career">
      <div class="l-container">
        <PageTitleLevel2 pageTitle="経歴" />
        <div class="l-section-body">
          <div class="about-career__illustration">
            <picture>
            <source media="(max-width: 767px)" srcset="/assets/images/about/image-about-illustration-sp@2x.webp">
            <source media="(min-width: 768px)" srcset="/assets/images/about/image-about-illustration-pc@2x.webp">
            <img src="/assets/images/about/image-about-illustration-sp@2x.webp" alt="鈴木孝浩の人生の浮き沈みを説明する図解: 2019年にドン底を経験し、現在最高潮を迎えている！" loading="lazy" decoding="async" width="284" height="143">
            </picture>
          </div><!-- /.about-career__illustration -->
          <div class="about-career__chronology">
            <section class="about-career__item">
              <h3 class="about-career__title-level3">
                <span>1993年</span>
                <span>早稲田大学第一文学部文芸専修卒業。<br class="u-no-pc">首都圏進学塾に入社。</span>
              </h3>
            </section>
            <section class="about-career__item">
              <h3 class="about-career__title-level3">
                <span>2000年</span>
                <span>Web制作との出会い。</span>
              </h3>
              <div class="about-career__description about-career__description--2000">
                <p class="about-career__text">日本にインターネットが普及し始めて5年程のCSSが出回り始めた頃、当時から新しいものに敏感だったすずしかは本業の傍ら、Web制作に触れるようになる。しかし、本業の塾講師も順調で忙しく、校舎責任者として校舎の運営を担い、上位・難関校を目指す中学生に英語を指導する日々。</p>
                <div class="about-career__sideBySide">
                  <p class="about-career__text">出版社から参考書の出版オファーを受けたり、教材開発・商品企画・模擬試験作成をしたりと多忙な日々の合間にあくまでも趣味として、Web制作を嗜んでいた。</p>
                  <div class="about-career__image-classroom">
                    <picture>
                    <source media="(max-width: 767px)" srcset="/assets/images/about/pic-about-classroom-sp@2x.webp">
                    <source media="(min-width: 768px)" srcset="/assets/images/about/pic-about-classroom-pc@2x.webp">
                    <img src="/assets/images/about/pic-about-classroom-sp@2x.webp" alt="進学塾の教室の写真: 机と椅子が並んでいる" loading="lazy" decoding="async" width="110" height="160">
                    </picture>
                  </div><!-- /.about-career__image-classroom -->
                </div><!-- /.about-career__sideBySide -->
              </div><!-- /.about-career__description -->
            </section>
            <section class="about-career__item">
              <h3 class="about-career__title-level3">
                <span>2019年</span>
                <span>その後も20年以上にわたって塾講師として指導現場の第一線で活躍し続けてきた。</span>
              </h3>
              <div class="about-career__description about-career__description--2019">
                <p class="about-career__text">そんなすずしかの転機となったのは、一日入院したある夜のこと。すずしか自身の病状は問題なかったものの、大きな総合病院では夜中でもガンガン救急車で緊急の患者が運ばれてくる。そして切迫した人々の声が一晩中、耳に飛び込んでくる。<br>日常とはかけ離れた死と隣り合わせの環境のなか、「人間、いつ死ぬかわからない」ことを実感。</p>
                <p class="about-career__text">今の仕事は嫌いではないが、やり切った感もある。<br>1つのことをやり切って死ぬのもいいが、<br>2つのことを極めるという生き方があってもいいのではないか？</p>
                <p class="about-career__text">そのとき、ふと思った。</p>
                <p class="about-career__text">Web制作は中途半端で、全然やり切っていないではないか！</p>
              </div><!-- /.about-career__description -->
              <div class="about-career__image-laptop">
                <picture>
                <source media="(max-width: 767px)" srcset="/assets/images/about/pic-about-laptop-sp@2x.webp">
                <source media="(min-width: 768px)" srcset="/assets/images/about/pic-about-laptop-pc@2x.webp">
                <img src="/assets/images/about/pic-about-laptop-sp@2x.webp" alt="ノートPCに向かって制作をしている写真" loading="lazy" decoding="async" width="300" height="60">
                </picture>
              </div><!-- /.about-career__image-laptop -->
            </section>
            <section class="about-career__item">
              <h3 class="about-career__title-level3">
                <span>2022年</span>
                <span>本格的にデザインとコーディングの学習を再開。</span>
              </h3>
              <div class="about-career__description">
                <p class="about-career__text">学び進めるなかで独学の限界を感じ、スクールに入りさらに勉強に熱中した。スムーズにスクールのカリキュラムをこなし、卒業。<br>コーダーとしてWeb制作活動をスタートさせた。</p>
              </div><!-- /.about-career__description -->
            </section>
            <section class="about-career__item">
              <h3 class="about-career__title-level3 about-career__title-level3--2024">
                <span>2024年</span>
                <span>コーディング代行と並行して、ライター・デザイナーと協業してまるっとWebサイト制作を請け負うチームを結成。</span>
              </h3>
              <div class="about-career__description">
                <p class="about-career__text">「コーディングのみ外注したい」 「HP/LP制作を丸投げしたい」など、寄せられた要望に真摯に対応し、日々クライアントの課題解決に尽力している。</p>
              </div><!-- /.about-career__description -->
            </section>
          </div><!-- /.about-career__chronology -->
        </div><!-- /.l-section-body -->
      </div><!-- /.l-container -->
    </section><!-- /.about-career -->

    <!-- about-philosophy -->
    <section class="about-philosophy">
      <div class="l-container">
        <PageTitleLevel2 pageTitle="想い" />
        <div class="l-section-body">
          <div class="about-philosophy__content">
            <div class="about-philosophy__wrapper">
              <div class="about-philosophy__description">
                <p class="about-philosophy__text">コーダーとしてこだわっていることは、「ユーザビリティ」と「アクセシビリティ」。</p>
                <p class="about-philosophy__text">これらは、インターネットも新しいデジタル機器も難なく使いこなす若い世代にとっては特別、意識することもないかもしれない。</p>
                <p class="about-philosophy__text">しかし、デジタル化に対応できるか否かで大きな情報格差が生じている現実がある。</p>
              </div><!-- /.about-philosophy__description -->
              <div class="about-philosophy__image">
                <picture>
                <source media="(max-width: 1079px)" srcset="/assets/images/about/pic-about-diversity-sp@2x.webp">
                <source media="(min-width: 1080px)" srcset="/assets/images/about/pic-about-diversity-pc@2x.webp">
                <img src="/assets/images/about/pic-about-diversity-sp@2x.webp" alt="夕陽を背景に集う5人の若者たちの写真" loading="lazy" decoding="async" width="300" height="100">
                </picture>
              </div><!-- /.about-philosophy__image -->
            </div><!-- /.about-philosophy__wrapper -->
            <div class="about-philosophy__wrapper">
              <div class="about-philosophy__description">
                <p class="about-philosophy__text">Webサイト制作に携わる者として、「万人が情報にアクセスしやすい環境作り」「誰一人取り残されることのないデジタル化」に貢献したい。</p>
                <ul class="about-philosophy__list">
                  <li class="about-philosophy__item">ITに不慣れな方</li>
                  <li class="about-philosophy__item">色覚特性がある方</li>
                  <li class="about-philosophy__item">目や耳の不自由な方</li>
                  <li class="about-philosophy__item">身体や脳に障がいがある方</li>
                  <li class="about-philosophy__item">小さい文字が読みづらい方</li>
                </ul>
              </div><!-- /.about-philosophy__description -->
              <div class="about-philosophy__image">
                <div class="about-philosophy__image-item">
                  <img src="/assets/images/about/pic-about-old-age-sp@3x.webp" alt="海と半島を臨むベンチに並んで座る老カップルの写真" loading="lazy" decoding="async" width="145" height="100">
                </div><!-- /.about-philosophy__image-item -->
                <div class="about-philosophy__image-item">
                  <img src="/assets/images/about/pic-about-glasses-sp@3x.webp" alt="緑鮮やかな森林が映り込むメガネの写真" loading="lazy" decoding="async" width="145" height="100">
                </div><!-- /.about-philosophy__image-item -->
              </div><!-- /.about-philosophy__image -->
              <div class="about-philosophy__image">
                <img src="/assets/images/about/pic-about-old-age-pc@2x.webp" alt="海と半島を臨むベンチに並んで座る老カップルの写真" loading="lazy" decoding="async" width="600" height="400">
              </div><!-- /.about-philosophy__image -->
            </div><!-- /.about-philosophy__wrapper -->
            <div class="about-philosophy__wrapper">
              <div class="about-philosophy__description">
                <p class="about-philosophy__text">幅広い方に配慮したWebサイト設計により、今なんの不自由も感じていない方にとっても使い勝手のよいWebサイト制作を実現できる。</p>
                <p class="about-philosophy__text about-philosophy__text--strong">
                  <span>「デザインの美しさと機能性を両立させる」</span>
                  <span>「クライアントとユーザーを心地よく繋げる」</span>
                  </p>
                <p class="about-philosophy__text">人々の理想を形にするWebサイトを制作するため、今日も細やかな心配りでパソコンに向き合っている。</p>
              </div><!-- /.about-philosophy__description -->
              <div class="about-philosophy__image">
                <img src="/assets/images/about/pic-about-glasses-pc@2x.webp" alt="緑鮮やかな森林が映り込むメガネの写真" loading="lazy" decoding="async" width="600" height="400">
              </div><!-- /.about-philosophy__image.u-no-sp -->
            </div><!-- /.about-philosophy__wrapper -->
          </div><!-- /.about-philosophy__content -->
        </div><!-- /.l-section-body -->
      </div><!-- /.l-container -->
    </section><!-- /.about-philosophy -->

    <!-- about-favorite -->
    <section class="about-favorite">
      <div class="l-container">
        <PageTitleLevel2 pageTitle="好きなこと" />
        <div class="l-section-body">
          <ul class="about-favorite__list">
            <li class="about-favorite__item">F1（プロスト、セナの時代からフェラーリを応援しています）</li>
            <li class="about-favorite__item">イギリスを中心に欧州のハードロック・メタル（Rainbow、Michael Schenker、Iron Maiden）</li>
            <li class="about-favorite__item">読書（ダークファンタジー、例えばスティーヴン・キング、ジョナサン・キャロル）</li>
            <li class="about-favorite__item">一眼レフカメラ（主な用途はF1マシンの撮影）</li>
            <li class="about-favorite__item">お酒は以前は主食だったが（ビールはヱビス、日本酒は一ノ蔵）、現在は主治医の指示で節制</li>
          </ul>
        </div><!-- /.l-section-body -->
      </div><!-- /.l-container -->
    </section><!-- /.about-favorite -->
  </main>
</Layout>

<style lang="scss">
  @use '../styles/_breakpoints.scss' as *;

  .about-main {
    margin-top: 131px;
  }

  @include mq() {
    .about-main {
      margin-top: 140px;
    }
  }

  /* page > about > about-head
  ----------------------------------- */
  .about-head {
    margin-top: 40px;
  }

  .about-head__content {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .about-head__def {
    display: grid;
    gap: 14px;
    width: fit-content;
    margin: auto;

    dt {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }

    dd {
      font-size: 16px;
    }
  }

  .about-head__image {
    text-align: center;

    img {
      width: 160px;
    }
  }

  @include mq() {
    .about-head {
      margin-top: 80px;
    }

    .about-head__content {
      flex-direction: row-reverse;
      justify-content: center;
      gap: min(78px, calc(78 var(--vw-pc)));
    }

    .about-head__def {
      margin: 20px 0;

      dt {
        text-align: left;
      }
    }
  }

  /* page > about > about-promise
  ----------------------------------- */
  .about-promise {
    padding: 80px 0;
  }

  .about-promise__lead {
    padding-left: 0.4em;
    font-size: min(16px, calc(16 var(--vw-sp)));
    letter-spacing: 0.4em;
    text-align: center;

    &--pc {
      display: none;
    }
  }

  .about-promise__list {
    display: grid;
    gap: 40px;
    max-width: 400px;
    margin: 80px auto 0;
  }

  .about-promise__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .about-promise__icon {
    flex: 0 0 60px;
  }

  .about-promise__description {
    flex: 1 1 auto;
  }

  .about-promise__title {
    font-size: 16px;
    font-weight: 600;
  }

  .about-promise__text {
    margin-top: 10px;
  }

  @include mq() {
    .about-promise {
      padding: 120px 0;
      margin-top: 115px;
    }

    .about-section-body {
      margin-top: 40px;
    }
    .about-promise__lead {
      padding-left: 0.5em;
      font-size: 20px;
      letter-spacing: 0.5em;

      &--sp {
        display: none;
      }

      &--pc {
        display: block;

        span {
          display: inline-block;
        }
      }
    }

    .about-promise__list {
      gap: 80px;
      max-width: 540px;
    }

    .about-promise__item {
      gap: 40px;
    }

    .about-promise__icon {
      flex: 0 0 80px;
    }

    .about-promise__title {
      font-size: 20px;
    }

    .about-promise__text {
      margin-top: 10px;
    }
  }

  /* page > about > about-career
  ----------------------------------- */
  .about-career {
    padding: 80px 0;
    background-color: var(--color-accent);
  }

  .about-career__illustration {
    text-align: center;

    img {
      width: 284px;
      width: calc(284 var(--vw-sp));
    }
  }

  .about-career__chronology {
    display: grid;
    gap: 80px;
    max-width: 480px;
    margin: 40px auto 0;
    text-align: justify;
  }

  .about-career__title-level3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    line-height: 1.75;

    span:last-child {
      position: relative;
      font-weight: 700;

      &::before {
        content: "";
        position: absolute;
        top: -11px;
        left: 0;
        width: 51px;
        height: 1px;
        background-color: currentColor;
      }
    }
  }

  .about-career__description {
    display: grid;
    gap: 20px;
    margin-top: 20px;
  }

  .about-career__text {
    line-height: 2;

    .about-career__description--2019 &:nth-child(2),
    .about-career__description--2019 &:nth-child(4) {
      font-size: min(16px, calc(16 var(--vw-sp)));
      font-weight: 700;
    }

    .about-career__description--2019 &:nth-child(4) {
      line-height: 1.75;
    }
  }

  .about-career__sideBySide {
    display: flex;
    gap: 8px;
  }

  .about-career__image-classroom {
    flex: 0 0 110px;
    margin-top: 4px;
  }

  .about-career__image-laptop {
    margin-top: 20px;
  }

  @include mq() {
    .about-career {
      padding: 120px 0;
    }

    .about-career__illustration {

      img {
        width: 947px;
        width: min(947px, calc(947 var(--vw-pc)));
      }
    }

    .about-career__chronology {
      max-width: 100%;
      margin: 80px auto 0;
    }

    .about-career__title-level3 {
      flex-direction: row;
      gap: 60px;
      font-size: 20px;
      line-height: 1.4;

      &--2024 {
        line-height: 1.6;
      }

      span:first-child {
        flex: 0 0 65px;
      }

      span:last-child {
        font-weight: 400;

        &::before {
          top: 0;
          left: -30px;
          width: 1.5px;
          height: 28px;
        }
      }
    }

    .about-career__description {
      padding-left: 124px;
      margin-top: 28px;

      &--2000 {
        gap: 0;
        width: min(calc(540px + 124px), calc(calc(540 var(--vw-pc)) + 124px));
      }
    }

    .about-career__text {
      .about-career__description--2019 &:nth-child(2),
      .about-career__description--2019 &:nth-child(4) {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
      }

      .about-career__description--2019 &:nth-child(2) {
        line-height: 1.6;
      }

      .about-career__description--2019 &:nth-child(3) {
        margin-top: 10px;
      }

      .about-career__description--2019 &:nth-child(4) {
        line-height: 1.4;
      }
    }

    .about-career__sideBySide {
      position: relative;
      display: block;
    }

    .about-career__image-classroom {
      position: absolute;
      top: max(-276px, calc(-276 var(--vw-pc)));
      right: max(-340px, calc(-340 var(--vw-pc)));
      width: min(280px, calc(280 var(--vw-pc)));
      margin: 0;
    }

    .about-career__image-laptop {
      margin-top: 80px;
    }
  }

  /* page > about > about-philosophy
  ----------------------------------- */
  .about-philosophy {
    padding-top: 80px;
  }

  .about-philosophy__content {
    display: grid;
    gap: 40px;
    font-size: 16px;
    line-height: 2;
    text-align: justify;
  }

  .about-philosophy__description {
    display: grid;
    gap: 20px;
  }

  .about-philosophy__text {
    &--strong {
      display: grid;
      gap: 10px;
      font-weight: 700;
    }
  }

  .about-philosophy__image {
    margin-top: 40px;

    .about-philosophy__wrapper:nth-child(2) & {
      display: flex;
      gap: 10px;
    }

    .about-philosophy__wrapper:nth-child(2) &:last-child {
      display: none;
    }

    .about-philosophy__wrapper:nth-child(3) & {
      display: none;
    }
  }

  .about-philosophy__list {
    display: grid;
    gap: 10px;
  }

  .about-philosophy__item {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 7px;

    &::before {
      content: "";
      width: 3.5px;
      height: 3.5px;
      background-image: url(/assets/images/about/icon-about-circle@2x.webp);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }

  @include mq() {
    .about-philosophy {
      padding-top: 120px;
    }

    .about-philosophy__content {
      gap: 80px;
      font-size: 20px;
      line-height: 1.6;
    }

    .about-philosophy__wrapper {
      max-width: 700px;
      margin: auto;
    }

    .about-philosophy__image {
      margin-top: 40px;

      .about-philosophy__wrapper:nth-child(2) & {
        gap: 20px;
      }
    }
  }

  @media screen and (min-width: 1080px) {
    .about-philosophy__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: initial;

      &:nth-child(2) {
        flex-direction: row-reverse;
      }
    }

    .about-philosophy__description {
      display: grid;
      gap: 24px;
      flex: 0 0 48%;
    }

    .about-philosophy__text {

      &--strong {
        display: grid;
        gap: 10px;
        font-weight: 700;
      }
    }

    .about-philosophy__image {
      flex: 0 0 48%;
      margin-top: 0;

      img {
        aspect-ratio: 480 / 350;
        object-fit: cover;
      }

      .about-philosophy__wrapper:nth-child(2) & {
        display: none;
      }

      .about-philosophy__wrapper:nth-child(2) &:last-child {
        display: block;
      }

      .about-philosophy__wrapper:nth-child(3) & {
        display: block;
      }
    }
  }

  /* page > about > about-favorite
  ----------------------------------- */
  .about-favorite {
    padding-top: 80px;
  }

  .about-favorite__list {
    display: grid;
    gap: 10px;
    font-size: 16px;
    text-align: justify;
    line-height: 2;
  }

  .about-favorite__item {
    display: flex;
    gap: 7px;
    padding-left: 7px;

    &::before {
      content: "";
      flex: 0 0 3.5px;
      width: 3.5px;
      height: 34px;
      background-image: url(/assets/images/about/icon-about-circle@2x.webp);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }

  @include mq() {
    .about-favorite {
      padding-top: 240px;
    }

    .about-favorite__list {
      gap: 8px;
      width: fit-content;
      margin: auto;
      font-size: 20px;
      line-height: 1.6;
    }
  }
</style>
