---
import Layout from '../layouts/Layout.astro';
import TitleLevel1 from '../components/TitleLevel1.astro';
import PageTitleLevel2 from '../components/PageTitleLevel2.astro';
import Accordion from '../components/Accordion.astro';
---

<!-- price-voice -->
<Layout
  subTitle="料金 / お客様の声"
  ogType="website"
  description="埼玉県所沢市のホームページ制作者 鈴木孝浩の料金の目安・お客様の声です。ホームページ・ランディングページの企画・制作から管理・運用まで、ワンストップで事業を加速します。"
>
  <main class="price-voice-main">
    <div class="price-voice-heading">
      <TitleLevel1 titleJapanese="料金/お客様の声" titleEnglish="Price / Voice" />
    </div>

    <!-- price -->
    <section class="price" id="price">
      <div class="l-container">
        <PageTitleLevel2 pageTitle="料金のご案内" />
        <div class="price-section-body l-section-body">
          <div class="price__sections">
            <section class="price__section">
              <h3 class="price__title-level3">Webサイト制作</h3>
              <p class="price__lead">
                <span>ライティング〜デザイン〜コーディングまで、まるっとお任せください。提携しているライター・デザイナーと協業してサイトを制作いたします。</span>
                <span>「デザインとコーディングだけ依頼したい」「CMSを追加してブログ機能を実装したい」「予算内に収まるか相談したい」など、お気軽にご相談ください。</span>
              </p>
              <ul class="price__list">
                <li class="price__item">
                  <h4 class="price__title-level4">ホームページ</h4>
                  <div class="price__icon">
                    <img src="/assets/images/price-voice/icon-price-voice-pc-green@2x.webp" alt="" loading="lazy" decoding="async" width="80" height="80">
                  </div><!-- /.price__icon -->
                  <div class="price__description">
                    <p class="price__text">税抜<span class="price__number">30</span>万円〜</p>
                    <small class="price__note">※上記金額は目安です。名刺代わりの1ページサイトなど、柔軟に対応・お見積もりいたします。</small>
                  </div><!-- /.price__description -->
                </li>
                <li class="price__item">
                  <h4 class="price__title-level4">ランディングページ</h4>
                  <div class="price__icon">
                    <img src="/assets/images/price-voice/icon-price-voice-sp-green@2x.webp" alt="" loading="lazy" decoding="async" width="80" height="80">
                  </div><!-- /.price__icon -->
                  <div class="price__description">
                    <p class="price__text">税抜<span class="price__number">25</span>万円〜</p>
                  </div><!-- /.price__description -->
                </li>
              </ul>
            </section><!-- /.price__section -->
            <section class="price__section">
              <h3 class="price__title-level3">コーディング代行のみ</h3>
              <ul class="price__list">
                <li class="price__item">
                  <h4 class="price__title-level4">ホームページ</h4>
                  <div class="price__icon">
                    <img src="/assets/images/price-voice/icon-price-voice-pc-yellow@2x.webp" alt="" loading="lazy" decoding="async" width="80" height="80">
                  </div><!-- /.price__icon -->
                  <div class="price__description">
                    <dl class="price__def">
                      <dt>トップページ<span aria-hidden="true">：</span></dt>
                      <dd>税抜<span class="price__number">3</span>万円〜</dd>
                      <dt>下層ページ<span aria-hidden="true">：</span></dt>
                      <dd>税抜<span class="price__number">1.5</span>万円〜/1ページ</dd>
                    </dl>
                  </div><!-- /.price__description -->
                </li>
                <li class="price__item">
                  <h4 class="price__title-level4">ランディングページ</h4>
                  <div class="price__icon">
                    <img src="/assets/images/price-voice/icon-price-voice-sp-yellow@2x.webp" alt="" loading="lazy" decoding="async" width="80" height="80">
                  </div><!-- /.price__icon -->
                  <div class="price__description">
                    <p class="price__text">税抜<span class="price__number">5</span>万円〜</p>
                  </div><!-- /.price__description -->
                </li>
              </ul>
              <!-- <small class="price__note">※現在、コーディング代行業務は、Astro.jsでのサイト構築案件のみを請け負っております。</small> -->
            </section><!-- /.price__section -->
          </div><!-- /.price__sections -->
        </div><!-- /.price-section-body.l-section-body -->
      </div><!-- /.l-container -->
    </section><!-- /.price -->

    <!-- voice -->
    <section class="voice" id="voice">
      <div class="voice-container">
        <PageTitleLevel2 pageTitle="お客様の声" />
        <div class="voice-section-body l-section-body">
          <div class="voice__accordion">
            <Accordion />
          </div><!-- /.voice__accordion -->
        </div><!-- /.voice-section-body.l-section-body -->
      </div><!-- /.voice-container -->
    </section><!-- /.voice -->
  </main>
</Layout>

<style lang="scss">
  @use '../styles/_breakpoints.scss' as *;

  .price-voice-main {
    margin-top: 131px;
  }

  @include mq() {
    .price-voice-main {
      margin-top: 140px;
    }
  }

  /* page > price-voice > price
  ----------------------------------- */
  .price {
    padding: 80px 0;
  }

  .price__sections {
    display: grid;
    gap: 80px;
  }

  .price__title-level3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    font-size: 20px;
    font-weight: 700;

    &::after {
      content: "";
      width: 80px;
      height: 1px;
      background-color: #3d2202;
    }
  }

  .price__list {
    display: grid;
    gap: 80px;
    margin-top: 80px;
  }

  .price__title-level4 {
    font-size: 20px;
    text-align: center;
  }

  .price__icon {
    margin-top: 30px;
    text-align: center;

    img {
      width: 80px;
    }
  }

  .price__description {
    margin-top: 20px;
    text-align: center;
    line-height: 2;
  }

  .price__number {
    margin: 0 5px;
    font-size: 24px;
  }

  .price__def {
    line-height: 1.6;

    dt {
      font-size: 20px;
      font-weight: 400;

      &:nth-of-type(2) {
        margin-top: 24px;
      }
    }
  }

  .price__note {
    display: block;
    width: fit-content;
    margin: 32px auto 0;
    font-size: 12px;
    text-align: justify;
  }

  .price__lead {
    display: grid;
    gap: 1em;
    margin-top: 80px;
    font-size: 16px;
    text-align: justify;
  }

  @media screen and (min-width: 375px) {
    .price__def {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 300px;
      margin: auto;
      line-height: 2;

      dt {
        &:nth-of-type(2) {
          margin-top: 0;
        }
      }
    }
  }

  @include mq() {
    .price {
      padding: 120px 0;
    }

    .price__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
      max-width: 880px;
      margin: 80px auto 0;
    }

    .price__lead {
      max-width: 680px;
      margin: 80px auto 0;
      font-size: 18px;
    }
  }

    /* page > price-voice > voice
  ----------------------------------- */
  .voice {
    padding: 80px 0;
    background-color: var(--color-accent);
  }

  .voice-container {
    width: calc(350 var(--vw-sp));
    margin: auto;
  }

  .voice__accordion {
    margin-top: 130px;
  }

  @include mq() {
    .voice {
      padding: 120px 0;
    }

    .voice-container {
      width: 100%;
      max-width: calc(var(--width-content) + 80px * 2);
      padding: 0 80px;
    }

    .voice__accordion {
      margin-top: 172px;
    }
  }
</style>
